@font-face {
  font-family: "Smiley-Cookie";
  src: url(./font/Smiley-Click.otf);
}
@font-face {
   font-family: "Grotesk";
  src:url(./font/MonumentGrotesk-Mono.ttf);
}

.banderolle{
  width: 100%;
  margin-top: 0px;
}


.timer {
width: 100%;
margin-top: 0px;
text-align: center;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.bodypart-container{
    width:80%;
    margin-top: 0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

  }
/* container de l'image - gere l'espace */
.IMG-SPACE{
display: block;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;
text-align: center;
padding:30px;
}
/* container de l'image - gere l'espace */


/* shadow de l'image */
.img-click{
box-shadow: 4px 4px 0 0 #000000;
 transition: ease all .1s;
 border-radius: 50%;  
 max-width: 70%;
 background-color: #000000;
  }
  .img-click:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: 0px 0px 0 0 #000000;
  }
 /* shadow de l'image */




/* button du shop */
h4 {
  text-align: center;
  font-family: "Grotesk";
}
.container-btn{
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-bottom: 2em;
}

.button1{
  display: flex;
  flex-basis: 30%;
  padding-bottom: 1.5em;

}
.button2{
  display: flex;
  padding-bottom: 1.5em;


}
.button3{
  display: flex;

}


.round{
    font-family: "Grotesk";
    flex: 1;
    font-size: 0.8em;
    color: #000000;
    line-height: 1.5;
    font-weight: bold;
    padding: 10px 10px;
    background: #FFFFFF;
    box-shadow: 4px 4px 0 0 #000000;
    border-radius: 200px ;
    outline:0;
    transition: ease all .1s;
  } 


  .round:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .round:hover {
    background: #d3d3d3;
  }
  /* buttons du shop */
  
  .settings {
    font-size: 2px;
    color: #4D5259;
    line-height: 1.5;
    font-weight: bold;
    padding: .5em 2em;
    background: #FFFFFF;
    border: 2px solid #4D5259;
    box-shadow: 4px 4px 0 0 #000000;
    outline:0;
  }
  
  .settings:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .settings:hover {
    background: #d3d3d3;
  }
  .loop-holder {
    display: flex;
    white-space: nowrap;
    overflow: hidden;



  }
  
  .loop-holder__text {
      display: flex;
      animation: textLoop 10s linear infinite;
      font-size: 13vw;
      text-indent: .55em;
      align-self: auto;
      padding-top: 17px;
      padding-bottom: 1px;
      color: white;
      background-color: black;
      font-family: "Smiley-Cookie";
  }
  
  
  @keyframes textLoop {
      0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0)
      }
  }
