@font-face {
  font-family: "Smiley-Cookie";
  src: url(./font/Smiley-Click.otf);
}

@font-face {
  font-family: "Grotesk";
  src: url(./font/MonumentGrotesk-Mono.ttf);
}

@font-face {
  font-family: "Monument";
  src: url(./font/monumentextended-ultrabold.otf);
}


.double {
  display: flex;
  margin:0
}
.banderolle{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1{
  margin-top: 25px;
  margin-bottom: 0px;
  max-width: 100%;
  text-align: center;
  font-family: "Monument";
  font-size: 3em;
  transform: scale(1, 2);
  background-color: #00CC1F;
  width: 100%;
  color: white;
  max-height: 50px;
  padding-bottom: 5px;
  
}

.gameInfo {
  margin-top: 0;
  display: flex;
  margin: 0;
  padding: 0;
}

.timer {
width: 100%;
margin-top: 0px;
text-align: center;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
}
.bodypart-container{
    width:80%;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

  }
/* container de l'image - gere l'espace */
.IMG-SPACE{
display: block;
margin: auto;
margin-top: 20px;
margin-bottom: 0px;
text-align: center;
padding:15px;
}
/* container de l'image - gere l'espace */


/* shadow de l'image */
.img-click{
box-shadow: 10px 5px 0 0 #000000;
 transition: ease all 1ms;
 border-radius: 50%;  
 max-width: 70%;
 background-color: #000000;
}

.img-click:active{
  transform: translateY(4px) translateX(10px);
  box-shadow: 5px 3px 0 0 #000000;
  }
 /* shadow de l'image */




/* button du shop */



  

h4 {
  text-align: center;
  font-family: "Grotesk";
  margin-bottom: 10px;
  margin-top: 10px;
}



/* button flex*/
.container-btn-all{
  margin-bottom:2.1em;
}

.round01{
  font-family: "Grotesk";
  width: 340px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2em;
  transition: ease all .1s;
  background: #FFFFFF;
  border: 2px solid #4D5259;
  box-shadow: 0px 7px 0 1px #000000;
  border-radius: 200px ;
  padding-bottom: 10px; /* sa mere la pute ce truc */
}


/* button flex*/
.img-col{
  padding-top: 15px; /* sa mere la pute ce truc */
padding-left: 5px;

}


.icon01{
width: 30px;
height: 30px;

}


.container-btn{


}






  .round01:active {
    transform: translateY(6px) translateX(0px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .round01:hover {
    background: #d3d3d3;
  }
  /* buttons du shop */
  
  .settings {
    font-size: 2px;
    color: #4D5259;
    line-height: 1.5;
    font-weight: bold;
    padding: .5em 2em;
    background: #FFFFFF;
    border: 2px solid #4D5259;
    box-shadow: 4px 4px 0 0 #000000;
    outline:0;
  }
  
  .settings:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .settings:hover {
    background: #d3d3d3;
  }
  .loop-holder {
    display: flex;
    white-space: nowrap;
    overflow: hidden;



  }
  
  .loop-holder__text {
      display: flex;
      animation: textLoop 10s linear infinite;
      font-size: 13vw;
      text-indent: .55em;
      align-self: auto;
      padding-top: 17px;
      padding-bottom: 1px;
      color: white;
      background-color: black;
      font-family: "Smiley-Cookie";
  }
  
  
  @keyframes textLoop {
      0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0)
      }
  }


  .banderolle-bottom{
  display: flex;
  height: 75px;
  background-color: rgb(189, 131, 255);
  width: 100%;
}

.timer {
 margin: auto;
 font-family: "Monument";
 font-size: 1.5em;
}