.banderolle{
  width: 100%;
  margin-top: 0px;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.bodypart{
    width:80%;
    margin-top: 0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
   .round{
    font-size: 12px;
    color: #4D5259;
    line-height: 1.5;
    font-weight: bold;
    padding: .5em 2em;
    background: #FFFFFF;
    border: 2px solid #4D5259;
    box-shadow: 4px 4px 0 0 #4D5259;
    border-radius: 100px;
    outline:0;
    transition: ease all .1s;
  } 
  .round:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .round:hover {
    background: #d3d3d3;
  }
  
  .settings {
    font-size: 10px;
    color: #4D5259;
    line-height: 1.5;
    font-weight: bold;
    padding: .5em 2em;
    background: #FFFFFF;
    border: 2px solid #4D5259;
    box-shadow: 4px 4px 0 0 #4D5259;
    outline:0;
  }
  
  .settings:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
  }
  .settings:hover {
    background: #d3d3d3;
  }
  .loop-holder {
    display: flex;
    white-space: nowrap;
    overflow: hidden;



  }
  
  .loop-holder__text {
      display: flex;

      animation: textLoop 10s linear infinite;
      font-size: 6vw;
      text-indent: .55em;
      padding-right: .55em;
      align-self: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      background-color: black;
  }
  
  
  @keyframes textLoop {
      0% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
      100% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0)
      }
  }
